<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header >
        <div class="logo-barra"><div class="logo-mercado-liebre"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></div>
        <input type="text" name="search" placeholder="Buscar producto o marca" class="barra" autocomplete="off"></div>
       <div class="cuotas">
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
       
        
        <nav class="main-navbar">
			<ul class="left-navbar">
				<li><a href="/">Todos los productos</a></li>
				<li><a href="/">Ofertas</a></li>
				<li><a href="/">Tiendas Oficiales</a></li>
				<li><a href="/">Vender</a></li>
				<li><a href="/">Ayuda</a></li>
			</ul>

			<ul class="right-navbar">
				<li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
				<li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
				<li><a href="/">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
			</ul>
		</nav>
<div class="burger-menu">
    <i class="fas fa-bars"></i>
</div>
<div class="imagen-home">
<img src="/images/img-home-banner.jpg" width="100%" alt="">
</div>
    </header>
    <main class="main-section">
    <h3 class="visit-ofert">Basado en tu última visita</h3>
        <section class="contenedor-articulos">
        <article class="articulos">
            <img class="imagen-producto" src="/images/img-cafetera-moulinex.jpg" width="320" alt="Cafetera">
            <div class="truck"><i class="fas fa-truck"></i></div>
            <div class="price-discount"><p class="price">$6.778</p>
            <p class="discount">40% OFF</p></div>
            <h4 class="description">Cafetera Moulinex</h4>
        </article>
        <article class="articulos">
            <img class="imagen-producto" src="/images/img-macbook-pro-2019.jpg" width="320" alt="Macbook">
            <div class="truck"><i class="fas fa-truck"></i></div>
            <div class="price-discount"><p class="price">$230.000</p>
            <p class="discount">20% OFF</p></div>
            <h4 class="description">Macbook Pro 2019</h4>
        </article>
        <article class="articulos">
            <img class="imagen-producto" src="/images\img-samsung-galaxy-s10.jpg" width="320" alt="Samsung">
            <div class="truck"><i class="fas fa-truck"></i></div>
            <div class="price-discount"><p class="price">$70.500</p>
            <p class="discount">10% OFF</p></div>
            <h4 class="description">Samsung Galaxy S10</h4>
        </article>
        <article class="articulos">
            <img class="imagen-producto" src="\images\img-tv-samsung-smart.jpg" width="320" alt="Samsung TV">
            <div class="truck"><i class="fas fa-truck"></i></div>
            <div class="price-discount"><p class="price">$23.200</p>
            <p class="discount">5% OFF</p></div>
            <h4 class="description">SmartTV Samsung 43</h4>
        </article>
        </section>
        <h3 class="visit-ofert">Ofertas</h3>
        <section class="contenedor-articulos">
            <article class="articulos">
                <img class="imagen-producto" src="/images/img-cafetera-moulinex.jpg" width="320" alt="Cafetera">
                <div class="truck"><i class="fas fa-truck"></i></div>
                <div class="price-discount"><p class="price">$6.778</p>
                <p class="discount">40% OFF</p></div>
                <h4 class="description">Cafetera Moulinex</h4>
            </article>
            <article class="articulos">
                <img class="imagen-producto" src="/images/img-macbook-pro-2019.jpg" width="320" alt="Macbook">
                <div class="truck"><i class="fas fa-truck"></i></div>
                <div class="price-discount"><p class="price">$230.000</p>
                <p class="discount">20% OFF</p></div>
                <h4 class="description">Macbook Pro 2019</h4>
            </article>
            <article class="articulos">
                <img class="imagen-producto" src="/images\img-samsung-galaxy-s10.jpg" width="320" alt="Samsung">
                <div class="truck"><i class="fas fa-truck"></i></div>
                <div class="price-discount"><p class="price">$70.500</p>
                <p class="discount">10% OFF</p></div>
                <h4 class="description">Samsung Galaxy S10</h4>
            </article>
            <article class="articulos">
                <img class="imagen-producto" src="\images\img-tv-samsung-smart.jpg" width="320" alt="Samsung TV">
                <div class="truck"><i class="fas fa-truck"></i></div>
                <div class="price-discount"><p class="price">$23.200</p>
                <p class="discount">5% OFF</p></div>
                <h4 class="description">SmartTV Samsung 43</h4>
            </article>
            </section>
    </main>
    <footer >
        <div class="contenedor-footer">
        <div>
            <div class="icono-footer"><i class="fas fa-credit-card"></i></div>
            <h4 class="h4-footer">Pagá con tarjeta o en efectivo</h4>
            <p class="p-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <div class="icono-footer"><i class="fas fa-gift"></i></div>
            <h4 class="h4-footer">Envío gratis desde $ 2.500</h4>
            <p class="p-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
            <div>
            <div class="icono-footer"><i class="fas fa-user-shield"></i></div>
            <h4 class="h4-footer">Seguridad, de principio a fin</h4>
            <p class="p-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

    </div>
    <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>